body {
    font-size: 14px;
    padding-bottom: 0;
}

#footer .footer-msg {
    font-size: 12px;
    line-height: 20px;
}

.navbar .nav.navbar-nav > li > a {
    font-size: 12px;
    letter-spacing: 0;
}

.footer .social-list {
    margin: 30px 0 0;
    font-size: 20px;
}

.footer .footer-brand {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

.post-li {
    float: left;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.post-li:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.recent-post-padding {
    padding: 0px !important;
}

#content {
    margin-top: 40px;
}

.date-sort {
    padding-bottom: 10px;
}

.header.navbar.navbar-inverse .navbar-nav > li > a {
    color: #8F8E8E;
}

.header.navbar .navbar-nav > li > a {
    font-size: 12px;
    line-height: 20px;
    font-weight: bolder;
}

    .header.navbar.navbar-inverse .navbar-nav > li > a:hover, .header.navbar .navbar-nav > li > a:hover, .navbar-nav .dropdown-menu > li > a:hover, .header.navbar.navbar-inverse .navbar-nav > li.active > a {
        color: #00acac;
    }
/*.header {
    padding: 15px 0;
}
.navbar-brand {
    padding-top: 7px;
}

/*dropdown menu to match with home*/
.navbar-nav > li > .dropdown-menu > li + li {
    border-top: 1px solid #444;
}

.navbar-nav > li.open .dropdown-menu {
    background: #333;
}

.dropdown-menu > li > a {
    color: #999;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
    background: #222;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .navbar .nav.navbar-nav > li > a {
        padding: 18px 14px;
    }
}
.navbar-nav > li > .dropdown-menu > li > a {
    padding: 9px 15px;
}

.progress {
    border-radius: 4px;
    height: 24px;
}

.progress .progress-bar {
    border-radius:4px;
}

.page-header{
    padding-bottom: 20px;
    margin-bottom: 30px;
}
