@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@section Styles{
    <link href="~/Assets/Admin/plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Assets/Admin/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <style>
        .filter-views {
            padding-left: 8px;
        }

        .view-filters {
            text-align: right;
        }

        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .map-container {
            margin-bottom: 15em;
        }

        .calendar-container {
            margin-top: 60px;
            margin-bottom: 15em;
        }

        .cal-upcoming-events {
            margin-bottom: 200px;
            margin-top: 18px;
        }

        .cal-views {
            text-align: center;
        }

        @@media only screen and (max-width: 768px) {
            .filter-date {
                display: none;
            }

            .view-filters {
                text-align: center;
            }

            #map-search-container {
                display: none;
            }
        }

        .grid-cancel {
            color: red;
        }

        .title-cancel {
            text-decoration: line-through;
        }

        .calendar-canceled {
            text-decoration: line-through;
            border: 2px solid #3A87AD;
        }

            .calendar-canceled:hover {
                background: red;
                text-decoration: line-through;
            }

        a:focus, a:hover {
            text-decoration: none;
        }
    </style>
}

<div ng-controller="globalEventController as main">
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin calendar view-->
        <div class="container">
            <h1 class="text-center page-header">Global Events</h1>
            <div class="calendar-container" ng-show="main.calendarView">
                <!-- begin row -->
                <div class="row row-space-20">
                    <!-- begin col-9 -->
                    <div class="row date-sort">
                        <div class="col-md-12">
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="post-list post-grid post-grid-2">
                            <div id="calendar" ui-calendar="main.calOptions" ng-model="main.calEvents" ng-if="main.calEvents.length > 0">

                            </div>
                        </div>
                        <!-- end #content -->
                    </div>
                    <!-- end col-9 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3">
                        <div class="view-filters cal-views">
                            <span class="filter-views" title="Map"><b><span class="small">Views:   </span></b><a ng-click="main.calendarView = false; main.gridView = false; main.mapView = true; main.mapCheck()" href="#"><i class="icon-globe"></i></a></span>
                            <span class="filter-views" title="Calendar"><a href="#"><i class="icon-calendar"></i></a></span>
                            <span class="filter-views" title="Grid"><a href="#" ng-click="main.calendarView = false; main.mapView = false; main.gridView = true;"><i class="icon-grid"></i></a></span>
                        </div>
                        <!-- begin section-container -->
                        <div class="section-container cal-upcoming-events">
                            <h4 class="section-title"><span>Upcoming Events</span></h4>
                            <ul ng-repeat="item in main.items | limitTo: 3" class="sidebar-recent-post">
                                <li>
                                    <div class="info">
                                        <h4 class="title">
                                            <a ng-click="main.viewEvent(item)" href="#">
                                                <span ng-class="(item.isCanceled) ? 'title-cancel' : ''">{{item.name}}</span>
                                            </a>
                                        </h4>
                                        <div class="date">
                                            <div ng-show="item.isCanceled"><b>Canceled</b></div>
                                            {{item.dateStart | date : "MMMM d, y"}}<br />
                                            {{item.city}}, {{item.state}}
                                        </div>
                                    </div>
                                </li>
                                <li class="recent-post-padding"></li>
                            </ul>
                        </div>
                        <!-- end section-container -->
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
        </div>

        <!-- end calendar view -->
        <!-- begin map view-->
        <div class="container map-container" ng-show="main.mapView">
            <!-- begin row -->
            <div class="row row-space-20">
                <!-- begin col-9 -->
                <div class="row date-sort">
                    <div class="col-md-12">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-5">
                            <div class="view-filters">
                                <span class="filter-views" title="Map"><b><span class="small">Views:   </span></b><a href="#"><i class="icon-globe"></i></a></span>
                                <span class="filter-views" title="Calendar"><a href="#" ng-click="main.mapView = false; main.gridView = false; main.calendarView = true"><i class="icon-calendar"></i></a></span>
                                <span class="filter-views" title="Grid"><a href="#" ng-click="main.mapView = false; main.calendar = false; main.gridView = true"><i class="icon-grid"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="post-list post-grid post-grid-2">
                        <div id="map">

                        </div>
                    </div>
                    <!-- end #content -->
                </div>
                <!-- end col-9 -->
                <!-- begin col-3 -->
                <div class="col-md-3">
                    <!-- begin section-container -->
                    <div id="map-search-container" class="section-container search-box-container">
                        <div class="input-group sidebar-search">
                            <input type="text" class="form-control searchBar"
                                   placeholder="Enter keywords..." ng-model="main.mapSearchStr" />
                            <span class="input-group-btn">
                                <button class="btn btn-inverse" type="button" ng-click="main.mapSearch()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- end section-container -->
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="section-title"><span>Upcoming Events</span></h4>
                        <ul ng-repeat="item in main.items | limitTo: 3" class="sidebar-recent-post">
                            <li>
                                <div class="info">
                                    <h4 class="title">
                                        <a ng-click="main.viewEvent(item)" href="#">
                                            <span ng-class="(item.isCanceled) ? 'title-cancel' : ''">{{item.name}}</span>
                                        </a>
                                    </h4>
                                    <div class="date">
                                        <div ng-show="item.isCanceled"><b>Canceled</b></div>
                                        {{item.dateStart | date : "MMMM d, y"}}<br />
                                        {{item.city}}, {{item.state}}
                                    </div>
                                </div>
                            </li>
                            <li class="recent-post-padding"></li>
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end map view -->
        <!-- begin grid view -->
        <div class="container grid-container" ng-show="main.gridView">
            <!-- begin row -->
            <div class="row row-space-20">
                <!-- begin col-9 -->
                <div class="row date-sort">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <span class="filter-date small">
                                <i class="fa fa-filter"></i> <b>Sort:</b> <a ng-click="main.sortReverse = !main.sortReverse" href="#">
                                    Date
                                    <span ng-show="!main.sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="main.sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </span>
                        </div>
                        <div class="col-md-5">
                            <div class="view-filters">
                                <span class="filter-views" title="Map"><b><span class="small">Views:   </span></b><a ng-click="main.calendar = false; main.gridView = false; main.mapView = true; main.mapCheck()" href="#"><i class="icon-globe"></i></a></span>
                                <span class="filter-views" title="Calendar"><a ng-click="main.mapView = false; main.gridView = false; main.calendarView = true;" href="#"><i class="icon-calendar"></i></a></span>
                                <span class="filter-views" title="Grid"><a href="#"><i class="icon-grid"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="post-list post-grid post-grid-2">
                        <div class="post-li" dir-paginate="item in main.items
                            | filter: main.searchStr
                            | orderBy: main.items.dateCreated: main.sortReverse
                            | itemsPerPage:4">
                            <!-- begin post-content -->
                            <div class="post-content">
                                <!-- begin post-image -->
                                <div class="post-image">
                                    <a ng-click="main.viewEvent(item)" href="#">
                                        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{item.address}},{{item.city}},{{item.state}}&zoom=13&size=1024x683&maptype=roadmap&key=AIzaSyAEXjYvK3d8Dasdyz2HN3gy81FJk6XvlYI" />
                                    </a>
                                </div>
                                <!-- end post-image -->
                                <!-- begin post-info -->
                                <div class="post-info">
                                    <h4 class="post-title">
                                        <a ng-click="main.viewEvent(item)" href="#">
                                            <span ng-class="(item.isCanceled) ? 'title-cancel' : ''">{{item.name}}</span> <span ng-show="item.isCanceled" class="grid-cancel"><b>CANCELED</b></span>
                                        </a>
                                    </h4>
                                    <div class="post-by">
                                        Posted By
                                        <a href="#">
                                            {{item.personFirstName}} {{item.personLastName}}
                                        </a>
                                        <span class="divider">|</span>
                                        <span class="dateCreated">{{item.dateStart | date : "MMMM d, y"}}</span>
                                        <span class="divider">|</span>
                                        <span>{{item.city}}, {{item.state}}</span>
                                    </div>
                                    <div class="post-desc">
                                        {{item.description | limitTo: 510}}
                                        <span ng-if="item.description.length > 500">
                                            <a ng-click="main.viewEvent(item)" href="#">[...]</a>
                                        </span>
                                        <div class="small">
                                            <hr />
                                            <p>{{item.address}}</p>
                                            <p>{{item.city}}, {{item.state}} {{item.zipCode}}</p>
                                            <p>@@ {{item.startTime.slice(0, 5)}} Local</p>
                                        </div>
                                    </div>
                                    <div class="read-btn-container">
                                        <a ng-click="main.viewEvent(item)" href="#">
                                            View Event <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- end post-info -->
                            </div>
                            <!-- end post-content -->
                        </div>
                    </div>
                    <!-- end #content -->
                </div>
                <!-- end col-9 -->
                <!-- begin col-3 -->
                <div class="col-md-3">
                    <!-- begin section-container -->
                    <div class="section-container search-box-container">
                        <div class="input-group sidebar-search">
                            <input type="text" class="form-control searchBar"
                                   placeholder="Enter keywords..." ng-model="main.searchStr" />
                            <span class="input-group-btn">
                                <button class="btn btn-inverse" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- end section-container -->
                    <!-- begin section-container -->
                    <div class="section-container">
                        <h4 class="section-title"><span>Upcoming Events</span></h4>
                        <ul ng-repeat="item in main.items | limitTo: 3" class="sidebar-recent-post">
                            <li>
                                <div class="info">
                                    <h4 class="title">
                                        <a ng-click="main.viewEvent(item)" href="#">
                                            <span ng-class="(item.isCanceled) ? 'title-cancel' : ''">{{item.name}}</span>
                                        </a>
                                    </h4>
                                    <div class="date">
                                        <div ng-show="item.isCanceled"><b>Canceled</b></div>
                                        {{item.dateStart | date : "MMMM d, y"}}<br />
                                        {{item.city}}, {{item.state}}
                                    </div>
                                </div>
                            </li>
                            <li class="recent-post-padding"></li>
                        </ul>
                    </div>
                    <!-- end section-container -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
            <div class="row ">
                <div class="col-md-9 text-center">
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
        <!-- end grid view -->
    </div>
</div>

@section pageInitScripts{
    <script src="~/Assets/Admin/plugins/fullcalendar/lib/moment.min.js"></script>
    <script src="~/Assets/Admin/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/angular-ui/angular-ui-calendar.js"></script>
    <script src="~/Scripts/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script>
        sabio.moduleOptions.extraModuleDependencies.push("ui.calendar", "ui.bootstrap.tpls")
    </script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script>
        sabio.moduleOptions.extraModuleDependencies.push("angularUtils.directives.dirPagination")
    </script>
}

@section Scripts {
    <script src="~/Scripts/sabio.services.globalEvent.js"></script>
    <script src="~/Scripts/app/services/globalEvent.js"></script>
    <script>
        (function () {
            angular.module(APPNAME)
                .controller("globalEventController", GlobalEventController);

            GlobalEventController.$inject = ["$scope", "$window", "$baseController", "globalEventService"];

            function GlobalEventController($scope, $window, $baseController, globalEventService) {
                var vm = this;
                vm.$scope = $scope;
                $baseController.merge(vm, $baseController);
                vm.globalEventService = globalEventService;
                vm.$window = $window;

                // viewmodel
                vm.calendarView = true;
                vm.mapView = false;
                vm.gridView = false;
                vm.sortReverse = false;
                vm.searchStr = "";
                vm.items = [];
                vm.viewEvent = _viewEvent;

                // google maps
                vm.map = null;
                vm.mapFlag = 0;
                vm.mapInfoWindow = null;
                vm.mapMarker = null;
                vm.userLat = null;
                vm.userLng = null;
                vm.mapBounds = null;
                vm.mapMarkers = [];
                vm.populateMap = _populateMap;
                vm.mapCheck = _mapCheck;
                vm.mapSearchStr = "";
                vm.mapSearch = _mapSearch;

                // calendar
                vm.calEvents = [];
                vm.fillCalendar = _fillCalendar;
                vm.calFlag = 1;

                _render();

                function _render() {
                    vm.globalEventService.getAll(_getAllSuccess, _getAllError);
                }

                function _getAllSuccess(data) {
                    if (data.items) {
                        vm.$scope.$apply(function () {
                            vm.items = data.items;
                            _fillCalendar();
                        });
                    }
                    else {
                        vm.$alertService.success("No events exist!");
                    }
                }

                function _getAllError(jqXHR) {
                    vm.$alertService.error(jqXHR.responseText, "Failed to load events!");
                }

                function _viewEvent(item) {
                    vm.$window.location.href = "/globalevents/" + item.id;
                }

                // ---------------------
                // map functions
                // ---------------------

                function _mapCheck() {
                    // this check prevents the map
                    // from being initialized twice
                    // and only loads markers onto
                    // the map once
                    if (vm.mapFlag) {
                        return;
                    } else {
                        vm.mapFlag = 1;
                        _initMap();
                        _populateMap();
                    }
                }

                function _initMap() {
                    var sabio = { lat: 33.9885, lng: -118.3869007 };

                    vm.map = new google.maps.Map($("#map")[0], {
                        zoom: 10,
                        center: sabio
                    });
                }

                function _populateMap() {
                    vm.mapInfoWindow = new google.maps.InfoWindow();
                    vm.mapBounds = new google.maps.LatLngBounds();

                    for (var i = vm.mapMarkers.length - 1; i >= 0; i--) {
                        vm.mapMarkers[i].setMap(null);
                        vm.mapMarkers.pop();
                    }

                    for (var i = 0; i < vm.items.length; i++) {
                        var canceledEvent = "";
                        var lat = vm.items[i].latitude;
                        var lng = vm.items[i].longitude;
                        var latLng = new google.maps.LatLng(lat, lng);
                        var dateStart = vm.items[i].dateStart;
                        var formattedStartDate = dateStart.slice(0, 10);
                        var dateEnd = vm.items[i].dateEnd;
                        var formattedEndDate = dateEnd.slice(0, 10);
                        var startTime = vm.items[i].startTime;
                        var formattedStartTime = startTime.slice(0, 5);
                        var endTime = vm.items[i].endTime.slice(0, 5);
                        var formattedEndTime = endTime.slice(0, 5);
                        if (vm.items[i].isCanceled) {
                            canceledEvent = "CANCELED";
                        }

                        vm.mapMarker = new google.maps.Marker({
                            map: vm.map,
                            position: latLng,
                            title: vm.items[i].name,
                            desc: vm.items[i].description,
                            dateStart: formattedStartDate,
                            dateEnd: formattedEndDate,
                            startTime: formattedStartTime,
                            endTime: formattedEndTime,
                            address: vm.items[i].address,
                            city: vm.items[i].city,
                            state: vm.items[i].state,
                            zip: vm.items[i].zipCode,
                            animation: google.maps.Animation.DROP,
                            eventId: vm.items[i].id,
                            canceled: canceledEvent
                        });

                        vm.mapMarkers.push(vm.mapMarker);

                        vm.mapMarker.addListener("click", function () {
                            _populateInfoWindow(this, vm.mapInfoWindow);
                        });

                        vm.mapBounds.extend(vm.mapMarkers[i].position);
                        vm.map.setCenter(latLng);

                        if (vm.mapMarkers.length > 1) {
                            vm.map.fitBounds(vm.mapBounds);
                        }
                        else {
                            vm.map.setCenter(latLng);
                        }
                    }
                }

                function _populateInfoWindow(marker, infoWindow) {
                    if (infoWindow.marker != marker) {
                        infoWindow.marker = marker;
                        infoWindow.setContent("<h5>" + marker.title + "</h5>" +
                            "<h5>" + marker.address + "</h5>" +
                            "<h5>" + marker.city + "</h5>" +
                            "<h5>" + marker.state + "</h5>" +
                            "<h5>" + marker.zip + "</h5>" +
                            "<h5>" + marker.dateStart + " @@ " + marker.startTime + " - " + "</h5>" +
                            "<h5>" + marker.dateEnd + " @@ " + marker.endTime + "</h5>" +
                            "<p>" + marker.desc + "</p>" +
                            "<b>" + marker.canceled + "</b>" +
                            "<h5><a href=/globalevents/" + marker.eventId + ">" + "View Event" + "</a></h5>"
                        );
                        infoWindow.open(map, marker);
                        // makes sure the marker property is cleared if the infowindow is closed
                        infoWindow.addListener("closeclick", function () {
                            infoWindow.setMarker = null;
                        });
                    }
                }

                function _mapSearch() {
                    vm.globalEventService.search(vm.mapSearchStr, _mapSearchSuccess, _mapSearchError);
                }

                function _mapSearchSuccess(data) {
                    if (!data.items) {
                        vm.$alertService.error("No events exist!");
                        return;
                    }

                    vm.mapBounds = new google.maps.LatLngBounds();
                    vm.mapInfoWindow = new google.maps.InfoWindow();

                    // resets markers after search criteria changes
                    for (var i = vm.mapMarkers.length - 1; i >= 0; i--) {
                        vm.mapMarkers[i].setMap(null);
                        vm.mapMarkers.pop();
                    }

                    for (var i = 0; i < data.items.length; i++) {
                        var lat = data.items[i].latitude;
                        var lng = data.items[i].longitude;
                        var latLng = new google.maps.LatLng(lat, lng);
                        var date = data.items[i].dateStart;
                        var formattedDate = date.slice(0, 10);
                        var startTime = data.items[i].startTime;
                        var formattedTime = startTime.slice(0, 5);

                        var marker = new google.maps.Marker({
                            map: vm.map,
                            position: latLng,
                            title: data.items[i].name,
                            desc: data.items[i].description,
                            dateStart: formattedDate,
                            startTime: formattedTime,
                            address: data.items[i].address,
                            city: data.items[i].city,
                            state: data.items[i].state,
                            zip: data.items[i].zipCode,
                            animation: google.maps.Animation.DROP,
                            eventId: data.items[i].id
                        });

                        vm.mapMarkers.push(marker);

                        vm.mapBounds.extend(vm.mapMarkers[i].position);

                        marker.addListener("click", function () {
                            _populateInfoWindow(this, vm.mapInfoWindow);
                        });
                    }
                    // sets initial zoom value after search
                    google.maps.event.addListener(vm.map, "zoom_changed", function () {
                        zoomChangeBoundsListener =
                            google.maps.event.addListener(vm.map, "bounds_changed", function (event) {
                                if (this.getZoom() > 15 && this.initialZoom == true) {
                                    this.setZoom(9);
                                    this.initialZoom = false;
                                }
                                google.maps.event.removeListener(zoomChangeBoundsListener);
                            });
                    });

                    vm.map.initialZoom = true;
                    vm.map.fitBounds(vm.mapBounds);
                }

                function _mapSearchError(jqXHR) {
                    vm.$alertService.error(jqXHR.responseText, "Failed to find events!");
                }

                // ---------------------
                // calendar functions
                // ---------------------

                function _fillCalendar() {
                    // calFlag prevents the calendar from
                    // being populated more than
                    if (vm.calFlag) {
                        vm.calOptions = {
                            height: 500,
                            editable: false,
                            header: {
                                left: "month basicWeek basicDay",
                                center: "title",
                                right: "today prev,next",
                            },
                            eventRender: function (event, element) {
                                element.popover(
                                    {
                                        container: 'body',
                                        title: "<strong>" + "Event: " + "</strong>" + event.title,
                                        content: "<div>" + "<strong>" + "Start: " + "</strong>" + moment(event.start).format("LLLL") + "</div>" + "<div>" + "<strong>" + "End: " + "</strong>" + moment(event.end).format("LLLL") + "</div>" + "<div>" + "<strong>" + "Description: " + "</strong>" + event.description + "</div>" + "<div>" + "<strong>",
                                        trigger: "hover",
                                        html: true,
                                        placement: "auto bottom"
                                    })
                            }
                        };

                        for (var i = 0; i < vm.items.length; i++) {
                            var eventClass = "";
                            var canceledNotice = "";
                            if (vm.items[i].isCanceled === true) {
                                eventClass = "calendar-canceled";
                                canceledNotice = " CANCELED";
                            }

                            vm.calEvents.push({
                                events: [{
                                    title: vm.items[i].name,
                                    start: vm.items[i].dateStart.slice(0, 10) + "T" + vm.items[i].startTime,
                                    end: vm.items[i].dateEnd.slice(0, 10) + "T" + vm.items[i].endTime,
                                    description: vm.items[i].description + "<b>" + canceledNotice + "</b>",
                                    className: eventClass,
                                    url: "/globalevents/" + vm.items[i].id
                                }]
                            });
                        }

                        //vm.calFlag = 0;
                    }
                }
            }
        })();
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEXjYvK3d8Dasdyz2HN3gy81FJk6XvlYI">
    </script>
}