@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section Styles{
    <style>
        .text-container {
            font: 14px Arial;
        }

        .contentArea {
            margin-top: 20px;
        }

        .about {
            font: 14px Arial;
        }

        h2 {
            font-weight: bold;
        }

        h3 {
            font-weight: bold;
        }
    </style>
}

<div class="contentArea clearfix">
    <div class="pageContainer">
        <div class="row"></div>
        <div class="text-container col-md-8">
            <!-- placeholder for main content -->
            <h2>Information About Cookies on Deploy</h2>
            <h3>What Are Cookies?</h3>
            <p class="about">A cookie is a text file stored on your computer. Cookies store bits of information that we use to help make our site work. They can't run any code and don't contain viruses. No one can read our cookies except us.</p>
            <h3>How We Use Cookies</h3>
            <p style="padding-bottom:5px" class="about">Deploy uses cookies to improve your experience on this site. We'd like to let you know a few things about our cookies:</p>
            <ul style="padding-left:20px;">
                <li>Certain cookies are essential to the proper function of this site</li>
                <li>We don't track your personal activities when you're not on Deploy sites unless you click on one of our ads on those sites</li>
                <li>We use analytics cookies to help us understand what content is most useful to our visitors</li>
            </ul>
            <h3>Types of Cookies We Use</h3>
            <ul style="padding-left:20px;">
                <li>Security: These cookies allow us to secure access to your account</li>
                <li>Preference: These cookies are used to store your preferences like language choice and display of job search results</li>
                <li>Analytics: We track site traffic patterns so we can identify popular site content and potential site problems</li>
                <li>Site features: We track which jobs you look at so we can show you more jobs like those. We also use cookies to split some users into test groups to test new site features</li>
                <li>Advertising: We use non-identifiable information about you to show you advertising on our site</li>
            </ul>
            <h3>Your Choices Regarding Cookies</h3>
            <p class="about">You can choose to have your computer warn you each time a cookie is being set, or you can choose to turn off all cookies. You do this through your browser settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies. If you turn cookies off, you won't have access to many features that make your experience more efficient and some of our services will not function properly.</p>
            <br />
            <h2>Instructions For Managing Cookies</h2>
            <p class="about">If you have a different browser type or version, please refer to your browser's "Help" menu.</p>
            <h3>Google Chrome</h3>
            <ul style="padding-left:25px;">
                <li style="list-style-type:decimal">Click on the <strong>Chrome</strong> menu, and then select <strong>Settings</strong>.</li>
                <li style="list-style-type:decimal">Click <strong>Show advanced settings</strong>.</li>
                <li style="list-style-type:decimal">In the <strong>Privacy </strong>section, click <strong>Content settings</strong> to choose your preferred settings.</li>
            </ul>
            <br />
            <p class="about">For instructions on deleting cookies in Chrome, <a target="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647&amp;topic=14666&amp;ctx=topic" href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647&amp;topic=14666&amp;ctx=topic">click here</a>.</p>
            <h3>Mozilla Firefox&nbsp;</h3>
            <ul style="padding-left:25px;">
                <li style="list-style-type:decimal">Click on the <strong>Firefox</strong> button (or <strong>Tools</strong> menu), and then select <strong>Options</strong>. For Mac OS X users, click on the <strong>Firefox</strong> menu, and then select <strong>Preferences</strong>.</li>
                <li style="list-style-type:decimal">Click on the <strong>Privacy</strong> panel to choose your preferred settings.</li>
                <li style="list-style-type:decimal">For more specialized cookie settings, set <strong>Firefox will:</strong> to <strong>Use custom settings for history</strong>.</li>
            </ul>
            <br />
            <p class="about">For instructions on deleting cookies in Firefox, <a target="http://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" href="http://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored">click here</a>.</p>
            <h3>Safari 5.1 and Later (Mac OS X)</h3>
            <ul style="padding-left:25px;">
                <li style="list-style-type:decimal">Click on the <strong>Safari</strong> menu, and then select <strong>Preferences</strong>.</li>
                <li style="list-style-type:decimal">Click on the <strong>Privacy</strong> tab to display cookie settings.</li>
                <li style="list-style-type:decimal">Choose your preferred settings.</li>
                <li style="list-style-type:decimal">For more specialized cookie settings, click on <strong>Details</strong>.</li>
            </ul>
            <br />
            <p class="about">For instructions on deleting cookies in Safari, <a target="http://support.apple.com/kb/PH5049" href="http://support.apple.com/kb/PH5049">click here</a>.</p>
            <h3>Internet Explorer 7, 8, 9, and 10</h3>
            <ul style="padding-left:25px;">
                <li style="list-style-type:decimal">Click on the <strong>Tools</strong> menu, and then select <strong>Internet Options</strong>.</li>
                <li style="list-style-type:decimal">Click on the <strong>Privacy</strong> tab.</li>
                <li style="list-style-type:decimal">Move the slider to choose your preferred settings.</li>
                <li style="list-style-type:decimal">For more specialized cookie settings, click on <strong>Sites</strong> or <strong>Advanced</strong>.</li>
            </ul>
            <br />
            <p class="about">For instructions on deleting cookies in Internet Explorer, <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="">click here</a>.</p>
            <h3>Microsoft Edge</h3>
            <ul style="padding-left:25px;">
                <li style="list-style-type:decimal">Click on <strong>More</strong> menu, and then select <strong>Settings</strong>.</li>
                <li style="list-style-type:decimal">Under <strong>Advanced Settings</strong>, click <strong>View advanced settings</strong>.</li>
                <li style="list-style-type:decimal">Under <strong>Privacy and services - Cookies</strong> choose your preferred settings.</li>
            </ul>
            <br />
            <p class="about">For instructions on deleting cookies in Microsoft Edge, <a href="https://support.microsoft.com/en-us/help/12454/windows-10-microsoft-edge-privacy-faq" target="">click here</a>.</p>

            <!-- endplacholder -->
        </div>
        <div class="pageBottom"></div>
    </div>
</div>

@section pageInitScripts{
    @*
        You would need to put script tags here to import angular modules, so they are available before the angular module
        creation is done.
    *@
}

@section scripts {
    <script type="text/javascript"></script>

}