@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <meta charset="utf-8" />
    <title>Deploy | Reset Password</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/assets/admin/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/admin/css/animate.min.css" rel="stylesheet" />
    <link href="/assets/admin/css/style.min.css" rel="stylesheet" />
    <link href="/assets/admin/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/assets/admin/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="~/Content/deployAdmin.css" rel="stylesheet" />
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/assets/admin/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <div class="login-cover">
        <div class="login-cover-image"><img src="~/assets/admin/img/login-bg/bg-2.jpg" data-id="login-cover-image" alt="" /></div>
        <div class="login-cover-bg"></div>
    </div>
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated fadeIn">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand text-center">
                    @*<span class="logo"></span>*@ DEPLOY
                    <small>
                        Reset Your Password Here
                        @*YOUR HANDPICKED WEB EXPERTS FOR DESIGNING, DEVELOPING AND DEPLOYING
                            DYNAMIC WEB APPLICATIONS*@
                    </small>
                </div>
                @*<div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>*@
            </div>
            <!-- end brand -->
            <div id="resetDiv" class="login-content">
                <form class="margin-bottom-0" id="passwordForm">
                    <div class="form-group m-b-20">
                        <span class="greeting"></span>
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="New Password" required />
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-lg" placeholder="Confirm Password" required />
                    </div>
                    <div class="login-buttons">
                        <button type="button" class="btn btn-success btn-lg center-block" id="resetPassword">Reset</button>
                    </div>
                </form>
            </div>
            <div id="resendMsg" class="login-content hide">
                <div>
                    <p>The reset password password link expired after 24 hours. Please request one more time by pressing the button below.</p>
                </div>
                <div class="login-buttons">
                    <button type="button" class="btn btn-success center-block" id="resendBtn">Resend</button>
                </div>
            </div>
            <div id="msgConfirm" class="login-content hide">
                <p>We have sent you another email. Please make sure to reset your password within 24 hours!</p>
            </div>
        </div>
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/assets/admin/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="/assets/admin/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="/assets/admin/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/assets/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/assets/admin/crossbrowserjs/html5shiv.js"></script>
        <script src="/assets/admin/crossbrowserjs/respond.min.js"></script>
        <script src="/assets/admin/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/admin/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="/assets/admin/js/login-v2.demo.min.js"></script>
    <script src="/assets/admin/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script src="~/Scripts/sabio.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/sabio.ui.toastr.js"></script>
    <script src="~/Scripts/sabio.services.user.js"></script>
    <script type="text/javascript">
        //startup function
        sabio.page.token = '@Model.Item';
        sabio.page.startUp = function () {
            sabio.page.handlers.checkToken();
            $("#resetPassword").on("click", sabio.page.handlers.resetPassword);
        }
        //check if token valid
        sabio.page.handlers.checkToken = function () {
            sabio.services.user.getResetToken(sabio.page.token, sabio.page.handlers.checkTokenSuccess, sabio.page.handlers.checkTokenError)
        }
        sabio.page.handlers.checkTokenSuccess = function (data) {
            $(".greeting").append(data.item.email);
        }
        sabio.page.handlers.checkTokenError = function (data) {
            $("#resetDiv").hide();
            $("#resendMsg").toggleClass("hide");
            $("#resendBtn").on("click", sabio.page.handlers.resendResetLink);
        }
        //password validation
        $("#passwordForm").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    passUpper: true,
                    passLower: true,
                    passDigit: true,
                    passSpecialChar: true
                },
                confirmPassword: {
                    required: true,
                    equalTo: '#password'
                }
            },
            messages: {
                confirmPassword: {
                    equalTo: "Passwords must match"
                }
            },
            highlight: function (element) {
                $(element).addClass("form-validate");
            },
            unhighlight: function (element) {
                $(element).removeClass("form-validate");
            },
            errorClass: "error-msg",
            errorElement: "span",
        });
        jQuery.validator.addMethod("passUpper", function (value, element) {
            return this.optional(element) || /(?=.*[A-Z])/.test(value);
        }, "Must contain an uppercase letter");
        jQuery.validator.addMethod("passLower", function (value, element) {
            return this.optional(element) || /(?=.*[a-z])/.test(value);
        }, "Must contain a lowercase letter");
        jQuery.validator.addMethod("passDigit", function (value, element) {
            return this.optional(element) || /(?=.*\d)/.test(value);
        }, "Must contain a number");
        jQuery.validator.addMethod("passSpecialChar", function (value, element) {
            return this.optional(element) || /(?=.*[^a-zA-Z0-9])/.test(value);
        }, "Must contain a special character");
        //reset password function
        sabio.page.handlers.resetPassword = function () {
            console.log("reset btn clicked")
            if ($("#passwordForm").valid()) {
                var newPW = $("#passwordForm").serialize();
                sabio.services.user.putReset(sabio.page.token, newPW, sabio.page.handlers.resetPasswordSuccess, sabio.page.handlers.resetPasswordError);
            }
        }
        sabio.page.handlers.resetPasswordSuccess = function () {
            console.log("password updated");
            window.location.href = "/users/login";
        }
        sabio.page.handlers.resetPasswordError = function () {
            console.log("reset failed");
        }
        //resend reset link
        sabio.page.handlers.resendResetLink = function () {
            sabio.services.user.putResetToken(sabio.page.token, sabio.page.handlers.resendResetSuccess, sabio.page.handlers.resendResetError);
        }
        sabio.page.handlers.resendResetSuccess = function (data) {
            console.log("resent!")
            $("#msgConfirm").toggleClass("hide");
            $("#resendMsg").hide();
        }
        sabio.page.handlers.resendResetError = function (data) {
            console.log("ugh")
        }

    </script>
</body>
</html>