<connectionStrings>
  <!-- References the Sabio-Hosted test database - replace with Operation Code database -->
  <add name="DefaultConnection" connectionString="Data Source=13.64.246.7;Database=DeployApp;User Id=DeployApp_User;Password=Dogfood1!;" providerName="System.Data.SqlClient" />
</connectionStrings>
