<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.Material" version="1.1.4" targetFramework="net452" />
  <package id="Angular.UI.Bootstrap" version="2.5.0" targetFramework="net452" />
  <package id="angularjs" version="1.6.4" targetFramework="net452" />
  <package id="AngularJS.Animate" version="1.6.4" targetFramework="net452" />
  <package id="AngularJS.Aria" version="1.6.4" targetFramework="net452" />
  <package id="AngularJS.Core" version="1.6.4" targetFramework="net452" />
  <package id="AngularJS.Route" version="1.6.4" targetFramework="net452" />
  <package id="angular-toastr" version="2.1.1" targetFramework="net452" />
  <package id="angular-ui-select" version="0.19.8" targetFramework="net452" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.13" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.5.12" targetFramework="net452" />
  <package id="bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Glimpse" version="1.8.6" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net45" />
  <package id="Glimpse.Mvc5" version="1.5.3" targetFramework="net45" />
  <package id="GoogleMapsApi" version="0.65.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="iOnTech.SimpleJsonTemplate" version="1.0.0.8" targetFramework="net452" />
  <package id="jasmine-js" version="1.3.1.1" targetFramework="net452" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.14.0" targetFramework="net45" />
  <package id="json-serialize" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Google" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Respond" version="1.4.2" targetFramework="net45" />
  <package id="Sendgrid" version="9.1.1" targetFramework="net452" />
  <package id="SendGrid.CSharp.HTTP.Client" version="3.2.0" targetFramework="net452" />
  <package id="SendGrid.SmtpApi" version="1.3.2" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net452" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net452" />
  <package id="toastr" version="2.1.1" targetFramework="net452" />
  <package id="Twilio" version="5.3.0" targetFramework="net452" />
  <package id="ui-select" version="0.19.8" targetFramework="net452" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
  <package id="Unity.Mvc5" version="1.1" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>