
@{
    ViewBag.Title = "Controller01";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Scope Inheritance Example</h2>
<ul>
    <li>
        Use &quot;controller as&quot; syntax. Note that this changes the way this example works,
        because the syntax requires that the angular directives and expressions explicitly associate with
        one of the controllers that is in scope for the corresponding element.
    </li>
</ul>

@section styles{
    <style>
        div.spicy div {
            padding: 10px;
            border: solid 2px blue;
        }

        .ng-cloak {
            display: none !important;
        }
    </style>

}


<div ng-app="scopeInheritance" class="spicy ng-cloak">
    <div ng-controller="MainController as mc">
        <p>Good <span ng-bind="mc.timeOfDay"></span>, {{mc.name}}!</p>

        <div ng-controller="ChildController as cc" ng-cloak="">
            <p>Good {{mc.timeOfDay}}, {{cc.name}}!</p>

            <div ng-controller="GrandChildController as gcc">
                <p>Good {{mc.timeOfDay}}, {{gcc.name}}!</p>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/Scripts/angular.js"></script>

    <script>
        (function () {
            "use strict";

            angular.module('scopeInheritance', []);

            angular.module('scopeInheritance')
                .controller('MainController', MainController);

            function MainController() {
                var vm = this;
                vm.timeOfDay = 'morning';
                vm.name = 'Nikki';
            }

            angular.module('scopeInheritance')
                .controller('ChildController', ChildController);

            function ChildController() {
                var vm = this;
                vm.name = 'Mattie';
            }

            angular.module('scopeInheritance')
                .controller('GrandChildController', GrandChildController);

            function GrandChildController($scope) {
                var vm = this;
                vm.timeOfDay = 'evening';
                vm.name = 'Gingerbread Baby';
            }

        })();


    </script>


}

