
@{
    ViewBag.Title = "Controller01";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Simple Spicy Controller</h2>
<ul>
    <li>Use &quot;controller as&quot; syntax.</li>
    <li>Use vm capture variable, so don&apos;t need explicit $scope dependency.</li>
</ul>

<div ng-app="spicyApp" ng-controller="SpicyController as spicyVm">
    <button ng-click="spicyVm.chiliSpicy()">Chili</button>
    <button ng-click="spicyVm.jalapenoSpicy()">Jalapeño</button>
    <p>The food is {{spicyVm.spice}} spicy!</p>
</div>


@section scripts{

    <script src="~/Scripts/angular.js"></script>

    <script>
        (function () {
            "use strict";

            angular.module('spicyApp', []);

            angular.module('spicyApp')
                .controller('SpicyController', SpicyController);

            function SpicyController() {
                var vm = this;

                vm.spice = 'very';
                vm.chiliSpicy = _chiliSpicy;
                vm.jalapenoSpicy = _jalapenoSpicy;

                function _chiliSpicy() {
                    vm.spice = 'chili';
                };

                function _jalapenoSpicy() {
                    vm.spice = 'jalapeño';
                };
            }

        })();


    </script>


}

