
@{
    ViewBag.Title = "Filters01";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Using filters in controllers, services, and directives</h2>

<div ng-app="FilterInControllerModule" ng-controller="FilterController as ctrl">
    <div>
        All entries:
        <span ng-repeat="entry in ctrl.array">{{entry.name}} </span>
    </div>
    <div>
        Entries that contain an "a":
        <span ng-repeat="entry in ctrl.filteredArray">{{entry.name}} </span>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/angular.js"></script>

    <script>

        (function(){
            "use strict";

            angular.module('FilterInControllerModule', [])
                .controller('FilterController', FilterController);

            FilterController.$inject = ['filterFilter'];

            function FilterController(filterFilter) {
                var vm = this;
                vm.filterFilter = filterFilter;
                vm.array = [
                    {name: 'Tobias'},
                    {name: 'Jeff'},
                    {name: 'Brian'},
                    {name: 'Igor'},
                    {name: 'James'},
                    {name: 'Brad'}
                    ];

                vm.filteredArray = vm.filterFilter(vm.array, 'a');
            }

        })();

    </script>
}

